%h1 Listing websites

%table
  %thead
    %tr
      %th Name
      %th Name-slug
      %th Primary color
      %th Secondary color
      %th
      %th
      %th

  %tbody
    - @websites.each do |website|
      %tr
        %td= website.name
        %td= website.name-slug
        %td= website.primary_color
        %td= website.secondary_color
        %td= link_to 'Show', website
        %td= link_to 'Edit', edit_website_path(website)
        %td= link_to 'Destroy', website, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Website', new_website_path
