- css_class = 'btn btn-primary btn-xs'
- style = 'float: left; margin-right: 10px'

= button_to 'Add text block', path_for_create_block('text-with-image'), class: css_class, style: style
- if @website.product
  = button_to 'Add products', path_for_create_block('products-block'), class: css_class, style: style
= button_to 'Add links', path_for_create_block('links-block'), class: css_class, style: style
- if @website.opera
  = button_to 'Add gallery', path_for_create_block('gallery'), class: css_class, style: style
  = button_to 'Add slider', path_for_create_block('slider'), class: css_class, style: style
