- remote = true
- if action_name == 'new'
  - remote = false
.row
  = simple_form_for [:admin, @page], remote: remote do |f|
    .col-sm-12
      = f.input :title_it
      = f.input :slug
      / = f.input :content_it, as: :text
    / .col-sm-6
    /   = f.input :title_en
    /   = f.input :content_en, as: :text
    .col-sm-12
      = f.button :submit, class: 'btn btn-primary btn-xs'
      
      - path = {controller: 'admin/pages', action: :first_page, page_id: @page.id}
      = button_to 'First page', path, class: 'btn btn-primary btn-xs' if @page.id.present?

- if action_name != 'new'
  %hr
  .row
    .col-sm-12
      = render 'shared/notice'
      = render 'add_buttons'
%hr
#blocksOrderable
  - @page.simple_blocks.each do |block|
    .row= render 'admin/simple_blocks/form', block: block
  = render 'design_tab'