.row
  .col-sm-12
    .row
      .col-sm-12
        = simple_form_for [:admin, @page.website] do |f|
          = f.association :first_page
          
          = f.button :submit
        %hr
      = simple_form_for [:admin, @page] do |f|
        .col-sm-6
          = f.input :title_it
          = f.input :content_it, as: :text
        .col-sm-6
          = f.input :title_en
          = f.input :content_en, as: :text
        .col-sm-12
          = f.button :submit
- @page.simple_blocks.each do |block|
  %hr
  .row(style="margin-bottom:20px")= render 'admin/simple_blocks/form', block: block

= button_to 'Nuovo blocco', [:admin, SimpleBlock.new, page_id: @page.id]
