%table.table
  %tr
    %th Title Italian
    %th Title English
    %th
      .pull-right= link_to 'New page', new_admin_page_path
  
  - @website.pages.each do |page|
    %tr
      %td
        = link_to page.title_it, [:edit, :admin, page], locale: 'it'
      %td
        = link_to page.title_en, [:edit, :admin, page], locale: 'en'
      %td
        .pull-right
          = link_to 'Edit', [:edit, :admin, page], class: 'btn btn-primary btn-xs'
          = link_to 'Destroy', [:admin, page], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'

.row
  .col-sm-4
    = simple_form_for [:admin, @website] do |f|
      = f.association :first_page
              
      = f.button :submit