= simple_form_for [:admin, @opera] do |f|
  .row
    .col-sm-12
      = render 'admin/shared/nav_tabs_container', form: f
      = render 'admin/shared/nav_tabs_content', data: [['name', 'string'],['description','text']], form:f
  .row
    .col-sm-12= f.input :image
  .row
    .col-sm-12= f.input :archive_index
    .col-sm-12= f.input :year, as: :date, discard_day: true, discard_month: true, default: {year: 1980}, start_year: 1970, end_year: 1996, prompt: true
    .col-sm-12= f.input :circa_date, as: :boolean
  .row
    .col-sm-12= f.association :surface, prompt: true
    .col-sm-12= f.association :subject, prompt: true
    .col-sm-12= f.input :size, as: :string
  = f.input :tag_list, input_html: {value: @opera.tag_list.to_s}

      
  .row
    .col-sm-12= f.button :submit, class: 'btn btn-primary btn-block'
