= simple_form_for([:great_admin, @website]) do |f|

  .form-inputs
    = f.input :name
    = f.input :name_slug
    = f.input :primary_color
    = f.input :secondary_color
    = f.input :domain, as: :url
    = f.input :product
    = f.input :opera
    = f.association :user, include_blank: false, collection: User.all.order(:email), label_method: :email
    = f.association :template, prompt: false

  .form-actions
    = f.button :submit
