%h1 Listing websites

%table
  %thead
    %tr
      %th Name
      %th Name-slug
      %th Primary color
      %th Secondary color
      %th
      %th
      %th

  %tbody
    - @websites.each do |website|
      %tr
        %td= website.name
        %td= website.name_slug
        %td= website.primary_color
        %td= website.secondary_color
        %td= link_to 'Show', [:great_admin, website]
        %td= link_to 'Edit', [:edit, :great_admin, website]
        %td= link_to 'Destroy', [:great_admin, website, locale: 'en'], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Website', new_great_admin_website_path(locale: 'en')