/ GALLERY
.col-sm-12
  = f.input :title, label: 'Filter tag', placeholder: 'landscape, body'
  = f.input :sliding, label: 'Masonry'
  #bootstrap-grid-options
    = f.input :num_elements, min: 1, max: 4
    = f.input :num_elements_xs, min: 1, max: 4

#website-operas
  - f.object.operas.each do |opera|
    .col-sm-6
      = image_tag opera.image(:_20x20c)
      = number_field_tag "horizontal_#{opera.id}", opera.horizontal_space, style: 'width: 40px', class: "set_space_horizontal"
      = number_field_tag "vertical_#{opera.id}", opera.vertical_space, style: 'width: 40px', class: "set_space_vertical"

:javascript

  $(document).ready(function(){
    setupHideShowMasonry()
    setupVerticalHorizontalGridSpace()
  })

  function setupHideShowMasonry(){
    $('#simple_block_sliding').change(function(e){
      hideBootstrapGridOptionsIfMasonrySelected()
    })
    hideBootstrapGridOptionsIfMasonrySelected()
  }

  function setupVerticalHorizontalGridSpace(){
    $('.set_space_horizontal').change(set_space_changed)
    $('.set_space_vertical').change(set_space_changed)
  }

  function set_space_changed(evt){
    var id = evt.target.id.replace("horizontal_","").replace("vertical_","")
    var path = "/admin/opera_set_space_"
    if ($(evt.target).hasClass('set_space_horizontal')){
      path += "horizontal"
    } else {
      path += "vertical"
    }
    $.ajax({
        type: "PUT",
        url: path+'/'+id,
        data: {
          new_value: evt.target.value
        }
      }).done(function(msg){
        refreshIframe()        
    });
  }

  function hideBootstrapGridOptionsIfMasonrySelected(){
    if ($('#simple_block_sliding').is(':checked')){
      $('#bootstrap-grid-options').hide()
      $('#website-operas').show()
    } else {
      $('#bootstrap-grid-options').show()
      $('#website-operas').hide()
    }
  }

