/ GALLERY
.col-sm-12
  = f.input :title, label: 'Filter tag', placeholder: 'landscape, body'
  = f.input :sliding, label: 'Masonry'
  #bootstrap-grid-options
    = f.input :num_elements
    = f.input :num_elements_xs

#website-operas
  - @website.operas.each do |opera|
    .col-sm-6
      = image_tag opera.image(:_20x20c)
      = number_field_tag 'horizontal', 1, style: 'width: 40px'
      = number_field_tag 'vertical', 1, style: 'width: 40px'

:javascript
  $(document).ready(function(){
    $('#simple_block_sliding').change(function(e){
      hideBootstrapGridOptionsIfMasonrySelected()
  
    })
    hideBootstrapGridOptionsIfMasonrySelected()
  })

  function hideBootstrapGridOptionsIfMasonrySelected(){
    if ($('#simple_block_sliding').is(':checked')){
      $('#bootstrap-grid-options').hide()
    } else {
      $('#bootstrap-grid-options').show()
    }
  }

