- item = shopping_cart_item.item
%tr.line-shopping-cart
  %td.item(width=50)
    = link_to image_tag(item.image.url('_50x50c')), shopping_cart_item.item
  %td.description
    = link_to item.name
  %td.price.text-right= item.price
  %td.quantity.text-right
    = link_to shopping_cart_item.quantity
    = link_to '+', {action: 'up', product_id: item.id}, method: :post
    = link_to '-', {action: 'down', product_id: item.id}, method: :post
    
  %td.action.text-right= link_to 'cancella', shopping_cart_path(product_id: item.id), method: :delete