.container
   
  %table.table.table-striped.table-responsive(style="margin-top: 20px; margin-bottom:0")
    %thead
      %th
      %th= t(:Name)
      
      %th.text-right= t(:price)
      %th.text-right(style='width: 100px;')= t(:Quantity)
      %th.text-right(style='width: 100px;')= t(:Quantity_more_less)
      %th(style="width:10px")

    %tbody= render partial: 'shopping_cart_item', collection: @shopping_cart.shopping_cart_items
  
  / Cost Resume
  .row
    .col-sm-12
      .pull-right
        %div
          %strong= t(:Subtotal)
          = number_to_currency @shopping_cart.subtotal
        %div
          %strong= t(:Taxes)
          %td= number_to_currency @shopping_cart.taxes
        %div(style="margin-bottom: 15px; border-top: 1px solid #ccc; padding-top: 10px; margin-top: 10px")
          %strong
            = t(:Total)
            = number_to_currency @shopping_cart.total
  .row
    .col-sm-12
      .pull-right
        = link_to 'Procedi con il pagamento', url_for(controller:'orders', action: 'express_checkout'), class: 'btn btn-danger'
  .clearfix
  %hr
  .row
    - Product.all.each do |product|
      = render 'products/box_related', product: product, size_img: '_200x200c'