.row
  - if current_user.websites.size > 1
    #websites.col-sm-12
      - head_elements = ['Name', 'Slug']
      - body_elements = ['name', 'name_slug']
      = render 'layouts/list', head_elements: head_elements, body_elements: body_elements, collections: current_user.websites, resource_name: 'Website', add_resource: false, edit_resource: false, namespace: :admin

  #menus.col-sm-12
    = render 'layouts/list', head_elements: ['Name','Url'], body_elements: ['name', 'url'], collections: @website.menus, resource_name: 'Menu', add_resource: true, edit_resource: true, namespace: :admin, order_element: true
  #pages.col-sm-12
    = render 'layouts/list', head_elements: ['Title'], body_elements: ['title_it'], collections: @website.pages, resource_name: 'Page', add_resource: true, edit_resource: true, namespace: :admin

  #images.col-sm-12
    = render 'layouts/list', head_elements: ['Preview', 'Description'], body_elements: ['image-url','description'], collections: @website.images, resource_name: 'Image', add_resource: true, edit_resource: true, namespace: :admin  

  - if @website.product?
    #products.col-sm-12
      - body_elements = ['image','name', 'price','price_label', 'first_page']
      - head_elements = ['', 'Name', 'Price', 'Label', 'First']
      = render 'layouts/list', head_elements: head_elements, body_elements: body_elements, add_resource: true, resource_name: 'Product', collections: @website.products, edit_resource: true, namespace: :admin
  
  - if @website.opera?
    #operas.col-sm-12
      - head_elements = ['', 'Name', 'Year']
      - body_elements = ['image', 'name', 'year.year']
      = render 'layouts/list', head_elements: head_elements, body_elements: body_elements, add_resource: true, resource_name: 'Opera', collections: @website.operas, edit_resource: true, namespace: :admin

= render 'design_tab'