%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th
        .pull-right= link_to 'New user', new_great_admin_user_path

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td
          .pull-right
            = link_to 'Show', [:great_admin, user]
            = link_to 'Edit', [:edit, :great_admin, user]
            = link_to 'Destroy', [:great_admin, user], :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

