- @page.simple_blocks.each do |block|
  - image_url = block.background_image.url(:big_standard)
  - css_custom_block = ""
  - if block.full_height == true
    - css_custom_block = 'min-height: 100%;'
  %section.block{style: "background-image: url('#{image_url}'); #{css_custom_block}"}
    .container
      %h2= block.title
      %p
        = simple_format block.content
      %p.action= block.action
