- @page.simple_blocks.each do |block|
  - image_url = block.background_image.url(:big_standard)
  
  - css_class_custom = ''
  - if block.background_image.present?
    - css_class_custom = 'block-photo'
  - else
    - css_class_custom = 'block-only-text' 
  - if block.colors_inverted == true
    - css_class_custom += ' block-inverted'
    

  - if block.custom_type == 'image-block' 
    / BLOCK OF SIX PHOTOS
    / [ - - - ]
    / [ - - - ]
    %section.block(style="padding: 0")
      .container-fluid(style="padding: 0")
        - [1,2,3,4,5,6].each do |element|
          - img = block.send("image_#{element}")
          -if img.present?
            - bg_img = asset_path(img.url(:block6)) 
          .six-image-1-cell.col-lg-4.col-sm-6{style: "background-image:url(#{bg_img});"}
  - elsif block.full_height.present?
    / BLOCK FULL HEIGHT
    / [  ]
    / [  ]
    / [  ]
    %section.block{style: "background-image: url('#{image_url}'); min-height: 100%;", class: css_class_custom}
      .container.block-content
        .block-content-inner
          %h2= block.title
          - if block.content.present? or block.action.present?
            %hr
            %p= simple_format block.content
            .btn.action= block.action
  
  - else
    / STANDARD BLOCK
    / [ ]
    %section.block{style: "background-image: url('#{image_url}');", class: css_class_custom}
      .container
        %h2= block.title
        - if block.content.present? or block.action.present?
          %hr
          - if block.content.present?
            %p= simple_format block.content
          - if block.action.present?
            .btn.action= block.action