%h1 Listing operas

%table
  %thead
    %tr
      %th Name
      %th Year
      %th Archive index
      %th Website
      %th Image
      %th
      %th
      %th

  %tbody
    - @operas.each do |opera|
      %tr
        %td= opera.name
        %td= opera.year
        %td= opera.archive_index
        %td= opera.website_id
        %td= opera.image
        %td= link_to 'Show', opera
        %td= link_to 'Edit', edit_opera_path(opera)
        %td= link_to 'Destroy', opera, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Opera', new_opera_path
