- filtro = params[:filter]
- opera_prev = @opera.prev(filtro)
- opera_next = @opera.next(filtro)
- if opera_next.present?
  - next_path = opera_path(opera_next, filter: filtro)
- else
  - next_path = opera_path(@opera.first_of_album(filtro), filter: filtro)

#opera-header.container
  .row
    .col-xs-9(style="padding-top:20px")
      %strong= @opera.name
      - if !browser.mobile?
        = " / ca. #{@opera.year.year}" if @opera.year.present? and @opera.circa_date == true
        = " / #{@opera.year.year}" if @opera.year.present? and @opera.circa_date == false
        = " / #{@opera.surface.name}" if @opera.surface.present?
        = " / #{@opera.size}" if @opera.size.present?
    .col-xs-3(style="padding-top:20px")
      .pull-right
        - if @opera.description.present?
          %span.glyphicon.glyphicon-info-sign(aria-hidden="true")
        - if opera_prev.present?
          = link_to '<', opera_path(opera_prev, filter: filtro), id: 'prev', class: 'btn btn-default btn-xs'
        
        - if next_path.present?
          = link_to '>', next_path, id: 'next', class: 'btn btn-default btn-xs'
        - else

%hr
#opera-image.container(style="padding-bottom: 20px")
  .row
    .col-sm-12
      - style = 'margin: 0 auto;display: none'
      - style = 'margin: 0 auto;' if browser.mobile? or browser.bot?
      - image_tag_ = image_tag @opera.image.url('_1150x850d'), class: 'img-responsive', style: style
      = link_to image_tag_, next_path
      - if browser.mobile?
        %p(style="margin-top:10px")
          = "ca. #{@opera.year.year}" if @opera.year.present? and @opera.circa_date == true
          = "#{@opera.year.year}" if @opera.year.present? and @opera.circa_date == false
          = " / #{@opera.surface.name}" if @opera.surface.present?
          = " / #{@opera.size}" if @opera.size.present?
      - if @opera.description.present?
        %p#opera-description(style="margin-top:10px")= simple_format @opera.description

- if !browser.mobile?
  = render 'operas/javascript_for_gallery'
