.container
  .row
    .col-xs-8(style="padding-top:20px")
      %strong
        = @opera.name
      = " / #{@opera.year.year}" if @opera.year.present?
      = " / #{@opera.surface.name}" if @opera.surface.present?
      = " / #{@opera.size}" if @opera.size.present?
    .col-xs-4(style="padding-top:20px")
      .pull-right
        - if @opera.prev.present?
          = link_to '<', @opera.prev, id: 'prev', class: 'btn btn-default btn-xs'
        - if @opera.next.present?
          = link_to '>', @opera.next, id: 'next', class: 'btn btn-default btn-xs'
%hr
.container
  .row
    .col-sm-12
      - style = 'margin: 0 auto;'
      - if !browser.mobile?
        - style= "#{style} display: none"
        
      - image_tag_ = image_tag @opera.image.url('_1150x850d'), class: 'img-responsive', style: style

      - if @opera.next.present?
        = link_to image_tag_, @opera.next
      - else
        = link_to image_tag_, @opera.first_of_album
      - if @opera.description.present?
        %p(style="margin-top:20px")= simple_format @opera.description
- if !browser.mobile?
  = render 'operas/javascript_for_gallery'
