= simple_form_for [:admin, block] ,remote: true, authenticity_token: true do |f|
  .col-sm-12.form-for-block
    .panel.panel-default
      - open_or_close = 'panel-heading-open' if block.id == params[:simple_block_updated].to_i
      .panel-heading{class: open_or_close}
        .pull-left
          %strong #{block.title}
          %em #{block.custom_type_label}
          
        .pull-right
          %span(class="glyphicon glyphicon-move" aria-hidden="true")
          - span_icon_trash = "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\")></span>"
          = link_to raw(span_icon_trash), [:admin, block], method: :delete, data: { :confirm => 'Attention, you are deleting this record, are you sure?' }
        .clearfix
      .panel-body
        .row
          = render 'admin/simple_blocks/blocks/'+block.name_of_view, block: block, f: f
        = f.button :submit, class: 'btn btn-primary btn-xs', style: 'display: none'