.col-sm-12
  .panel.panel-default
    .panel-body
      = simple_form_for [:admin, block] do |f|
        .row
          .col-sm-6
            = f.input :title_it, as: :string
            = f.input :content_it, as: :text
            = f.input :action_it, as: :string

          .col-sm-6
            = f.input :title_en, as: :string
            = f.input :content_en, as: :text
            = f.input :action_en, as: :string

          .col-sm-12
            = f.input :background_image
            = f.input :full_height
            = f.button :submit, class: 'btn btn-primary'
            = link_to 'Delete', [:admin, block], :method => :delete, class: 'btn btn-danger'