= simple_form_for [:admin, block] do |f|
  .col-sm-12.form-for-block
    .panel.panel-default
      - open_or_close = 'panel-heading-open' if block.id == params[:id].to_i
      .panel-heading{class: open_or_close}
        .pull-left
          %strong #{block.title}
          %em #{block.custom_type_label}
          
        .pull-right
          %span(class="glyphicon glyphicon-move" aria-hidden="true")
          - span_icon_trash = "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\")></span>"
          = link_to raw(span_icon_trash), [:admin, block], method: :delete, data: { :confirm => 'Attention, you are deleting this record, are you sure?' }
        .clearfix
      .panel-body
        .row
          .col-sm-12= f.input :menu_title, as: :string, placeholder: 'Menu title', label: false
          - if block.custom_type == "image-block"
            / BLOCK OF SIX IMAGE
            / [-] [-] [-]
            / [-] [-] [-]
            .col-sm-12
              .row
                - [1,2,3,4,5,6].each do |element|
                  .col-sm-4
                    - if block.send("image_#{element}").present?
                      - url = block.send("image_#{element}").url(:medium)
                      = image_tag url, class: 'btn-upload-img img-responsive'
                    = f.input "image_#{element}".to_sym
                .col-sm-12
                  
          - elsif block.custom_type == "products-block"
            / BLOCK OF PRODUCTS
            / [-] [-] [-]
            .col-sm-12
              .row
                - @website.products_first_page.each do |product|
                  .col-sm-4
                    = link_to image_tag(product.image.url(:_50x50c))
                    %br
                    = link_to product.name, [:edit, :admin, product]
          - elsif block.custom_type == 'text-with-image'
            / TEXT WITH IMAGE
            / [  -  ]
            .col-sm-6
              = f.input :title_it,   as: :string, input_html: { class: 'input-sm' }, placeholder: 'Title', label: false
              = f.input :content_it, as: :text,   input_html: { class: 'input-sm' }, placeholder: 'Content', label: false
              = f.input :action_it,  as: :string, input_html: { class: 'input-sm' }, label: false, placeholder: 'Action'
            / .col-sm-6
            /   = f.input :title_en,   as: :string
            /   = f.input :content_en, as: :text
            /   = f.input :action_en,  as: :string
            .col-sm-6
              - if block.background_image.present?
                = image_tag block.background_image.url(:medium), class: 'btn-upload-img img-responsive', style: ''
              = f.input :background_image
            .col-sm-12
              = f.input_field :full_height, label: false
              Full height
              = f.input_field :colors_inverted, label: false
              Colors inverted
                            

          - elsif block.custom_type == 'links-block'
            - block.links.build # add a field if nedded
            .col-sm-12
              
              = f.error :links
              = f.simple_fields_for :links do |f|
                = f.input :name
                = f.input :url, as: :url, placeholder: 'http://terraumana.it'
                = f.input :background_image
          
          .col-sm-12
            = render 'admin/simple_blocks/submit_and_delete', form: f