= simple_form_for [:admin, @product] do |f|

  = f.input :name, as: :string
  = f.input :description
  = f.association :website, include_blank: false, collection: current_user.websites.order(:name)
  = f.input :price
  = f.input :price_label
  = f.input :first_page
  - if false
    = f.input :archive_index
  = f.input :image
  .actions
    = f.button :submit
