%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Year:
  = @product.year
%p
  %b Archive index:
  = @product.archive_index
%p
  %b Website:
  = @product.website_id
- if @product.image.present?
  %p
    %b Image:
    %br
    = image_tag @product.image

= link_to 'Edit', edit_admin_product_path(@product)
\|
= link_to 'Back', admin_products_path
