- if block.masonry_selected
  %script(src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js")
  %script(src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js")
  = javascript_include_tag 'packery-mode.pkgd.min.js'
  .container(style="margin-bottom: 10px")
    .grid
      .grid-sizer
      .gutter-sizer
      - block.operas.each_with_index do |opera, index|
        - size = '_400x400c'
        - size = '_1024x768d' if opera.horizontal_space + opera.vertical_space > 2
        - style = "background-image: url(#{opera.image.url(size)}); background-size: cover; background-position: center;"
        %a.grid-item{style: style, href: url_for(opera), class: "grid-item--width#{opera.horizontal_space} grid-item--height#{opera.vertical_space}"}

  :css
    .grid-sizer,
    .grid-item { width: 24%; height: 200px; display: block }

    .gutter-sizer { width: 10px; }
    /* spans 2 columns: 24% + 1% + 24% = 48% */
    .grid-item--width2 { width: 49%; }
    .grid-item--height2 { height: 410px; }

    .grid-item--width3 { width: 74%; }
    .grid-item--height3 { height: 620px; }
    
    .grid-item--width4 { width: 99%; }
    .grid-item--height4 { height: 830px; }
  :javascript
    isotope_setup()
- else
  .container#gallery-operas
    .row(style="padding-top: 20px")
      - block.operas.each do |opera|
        %div{class: columns_for_elements(block), style:"margin-top:10px; margin-bottom: 20px"}
          = link_to image_tag(opera.image.url('_400x400c'), class: 'img-responsive', style: 'min-width: 100%'), opera_path(opera,filter: block.title)