
.images-block{class: container_fluid_or_not(block)}
  - if block.container_fluid
    :css
      .images-block{ padding-left: 0; padding-right: 0 }
  - if block.sliding
    - if block.container_fluid
      :css
        .carousel-inner > .item > img { width: 100% }
    .carousel.slide.carousel-fade{"data-ride" => "carousel", "data-interval" => '2000' , "data-fullscreen-margin-bottom" => block.get_sliding_full_screen_margin_bottom, "data-sliding-full-screen" => block.sliding_full_screen.inspect}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        - block.images.order("RANDOM()").each_with_index do |opera, index|
          - css_class = (index == 0) ? 'active' : ''

          .item{class: css_class}
            - if opera.description?
              - alt = opera.description

            - if block.quality.present?
              - if opera.description?
                = image_tag opera.url(block.quality.to_sym), class: 'center-block img-responsive', alt: opera.description
              - else
                = image_tag opera.url(block.quality.to_sym), class: 'center-block img-responsive'

            - else
              - if opera.description
                = image_tag opera.url(:_1150x850d), class: 'center-block img-responsive', alt: opera.description
              - else
                = image_tag opera.url(:_1150x850d), class: 'center-block img-responsive'

   
  - else
    - classe =""
    - if block.container_fluid == true
      - classe = "row"

    .simple-image{class: classe}
      
      - block.images.each do |image|
        - bg_img = asset_path(image.url(:block6)) 
        - if block.quality.present?
          - bg_img = asset_path(image.url(block.quality.to_sym))
        
          
        .container-img{style: padding_for_elements(block), class: columns_for_elements(block)}
          - if image.description?
            = image_tag bg_img, class: 'img-responsive', style: 'min-width: 100%', alt: image.description
          - else
            = image_tag bg_img, class: 'img-responsive', style: 'min-width: 100%'
