.container
  .row
    .col-sm-12
      %h3= @product.name
      %hr
      .row
        .col-sm-4
          = image_tag @product.image.url('_1024x768d'), class: 'img-responsive'
        .col-sm-8
          %p
            = t(:Price)
            %strong= @product.price
          %p= @product.description if @product.description.present?
          = link_to 'Ordina', shopping_cart_path(:product_id => @product), class: 'btn btn-primary', method: 'POST'
      %hr
      .row
        - @product.other_from_same_websites.each do |product|
          = render 'products/box_related', product: product, size_img: '_200x200c'