= simple_form_for [:admin, @menu] do |f|
  .row
    .col-sm-8
      .row
        .col-sm-6= f.input :name
        .col-sm-2= f.input :url, as: :string
        .col-sm-2= f.input :position
    .col-sm-12= f.button :submit, class: 'btn btn-primary btn-block'
