= render 'layouts/list', head_elements: ['Name','Url', 'Position'], body_elements: ['name', 'url', 'position'], collections: @website.menus, resource_name: 'Menu', add_resource: false, edit_resource: true, namespace: :admin, order_element: true

= simple_form_for [:admin, @menu] do |f|

  .row
    .col-sm-12= f.input :name
    .col-sm-12= f.input :url, as: :string
    .col-sm-4= f.input :position, as: :integer
  
  = f.button :submit, class: 'btn btn-primary btn-block'