= simple_form_for [:admin, @menu] do |f|
  = f.input :name
  = f.association :page, collection: @website.pages
  = f.input :url, as: :string, label: 'External url (ex: http://facebook.com)'
  = f.button :submit, class: 'btn btn-primary btn-block'