%table.table.table-striped
  %thead
    %tr
      - head_elements.each do |head_el|
        %th= head_el
      - if defined?(add_resource) and add_resource == true
        %th
          .pull-right
            = link_to "Add #{resource_name}", [:new, namespace, resource_name.downcase], class: 'btn btn-primary btn-xs'
  %tbody
    - collections.each do |element|
      %tr
        - body_elements.each do |body_el|
          %td
            - if body_el.include? 'image' # ex: image-of-collections
              = image_tag element.send(body_el).url(:_100x100c)
            - elsif body_el.include? '.' # ex: association.name
              - splitted = body_el.split('.')
              = element.send(splitted[0]).send(splitted[1]) if element.send(splitted[0]).present?
            - else
              = element.send(body_el)
        - if edit_resource
          %td
            .pull-right
              = link_to 'See', element, target: '_blank' if path_exists?(element)
              = link_to 'Edit', [:edit, namespace, element], class: 'btn btn link btn-xs'
              = link_to 'Destroy', [namespace, element], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn link btn-xs'