!!!
%html
  %head
    %title Segni
    = stylesheet_link_tag    'application-admin', media: 'all'
    = javascript_include_tag 'application-admin'
    = csrf_meta_tags
  %body
    .menu-fixed
      %hr(style="margin-top: 0; padding-top: 0")
      .container-fluid
        .pull-left
          = link_to raw('<strong>Admin area</strong>'), {controller: 'dashboard', action: 'home'}, class: 'btn btn-default'

          
        .pull-right
          - if action_name == 'edit'
            = link_to 'See', @page, target: '_blank', class: 'btn btn-primary'
          - else
            = link_to 'See', @website.first_page, target: '_blank', class: 'btn btn-primary'
      %hr(style="margin-bottom:0")
    .container-fluid(style="padding-top: 90px")
      = yield