!!!
%html
  %head
    %title Segni
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %hr(style="margin-top: 0; padding-top: 0")
    .container
      .pull-left
        %strong Admin Area
      .pull-right
        = link_to 'Pages', admin_pages_path
    %hr
    .container
      = yield