!!!
%html
  %head
    = render 'shared/admin_head'
  %body
    .container-fluid
      .row
        - cols = 12
        - cols = 4 if @preview.present?
          
        #editor-container{style:"overflow: auto", class: "col-xs-#{cols}"}
          %hr(style="margin-top:0")
          = link_to raw('<strong>Pages</strong>'), {controller: 'dashboard', action: 'home', opened: 'pages'}, class: 'btn btn-default btn-xs'
          = link_to raw('<strong>Operas</strong>'), {controller: 'dashboard', action: 'home', opened: 'operas'}, class: 'btn btn-default btn-xs' if @website.opera?
          = link_to raw('<strong>Products</strong>'), {controller: 'dashboard', action: 'home', opened: 'products'}, class: 'btn btn-default btn-xs' if @website.product?
          = link_to raw('<strong>Menu</strong>'), {controller: 'dashboard', action: 'home', opened: 'menus'}, class: 'btn btn-default btn-xs'

          .pull-right
            %span.change-col#remove-col(class="glyphicon glyphicon-triangle-left" data-go="<")
            %span.change-col#add-col(class="glyphicon glyphicon-triangle-right" data-go=">")
            %span.change-col#fullscreen(class="glyphicon glyphicon-fullscreen" data-go="fullscreen")

          = render 'shared/notice'
          
          %hr
          = yield
        - if @preview.present?
          #iframe-container.col-xs-8(style="padding:0")
            %iframe#iframe-preview{src: url_for(@preview), style: 'width: 100%; height: 100vh; border: none'}
        
        = render 'layouts/js_change_column'
          