!!!
%html
  %head
    %title Segni
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %hr(style="margin-top: 0; padding-top: 0")
    .container
      .masthead-brand
        %strong Great Admin Area
      .nav-masthead
        = link_to 'Users', great_admin_users_path
        = link_to 'Websites', great_admin_websites_path
        = link_to 'Surfaces', great_admin_surfaces_path
    %hr
    .container
      = yield