!!!
%html
  %head
    %title Segni
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-sm-8
          %h1.title= @website.name
        .col-sm-4
          - @website.pages.each do |page|
            = link_to page.title, page
      %hr
      %h2= @page.title
      %p= @page.content

      = yield