!!!
%html
  %head
    %title= "#{@website.name} - #{@title}"
    = stylesheet_link_tag    "themes/application-#{@website.template.name}", media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    - if @website.css.present?
      %style
        = @website.css.html_safe
    - if @website.js.present?
      %script
        = @website.js.html_safe
  %body
    %hr(style="margin-top:0; border-color: white")
    .container
      .row
        .col-xs-4
          %strong.title
            = link_to @website.name, @website.first_page
        .col-xs-8
          .pull-right
            - if @website.menus.present?
              - @website.menus.each do |menu_voice|
                - if menu_voice.page.present?
                  = link_to menu_voice.name, menu_voice.page
                - elsif menu_voice.url.include? 'http://' or menu_voice.url.include? 'https://' or menu_voice.url.include? 'www.'
                  = link_to menu_voice.name, menu_voice.url, target: '_blank'
                - elsif menu_voice.url.include? 'tag:'
                  - value_of_tag = menu_voice.url.split(':').last
                  = link_to menu_voice.name, {controller: 'operas', action: 'tag', tag: value_of_tag, locale: I18n.locale}
                - elsif menu_voice.url.include? 'page:'
                  - value_of_tag = menu_voice.url.split(':').last
                  = link_to menu_voice.name, {controller: 'pages', action: 'show', id: value_of_tag, locale: I18n.locale}
                - else
                  = menu_voice.name
                %span(style="color: #eee")= '/'

            - if session[:shopping_cart_id].present?
              - shopping_cart = ShoppingCart.find(session[:shopping_cart_id])
              - label_icon = '<span class="glyphicon glyphicon-shopping-cart"></span>'
              - label = raw("#{label_icon} #{t(:Shopping_cart)} #{shopping_cart.size_with_parentheses}")
              = link_to label, url_for(controller: 'shopping_carts', action: 'show')
            / - if action_name == 'show' or action_name == "hi"
            /   - if I18n.locale == :en
            /     - link = I18n.with_locale(:it){page_path(@page, locale: 'it')}
            /     = link_to 'Italian', link
            /   - elsif I18n.locale == :it
            /     - link = I18n.with_locale(:en){page_path(@page, locale: 'en')}
            /     = link_to 'English', link
              
    %hr(style="margin-bottom: 0")
    
    = yield