!!!
%html
  %head
    %title= "#{@website.name} - #{@title}"
    = stylesheet_link_tag    'application-orange', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
  %body
    %hr(style="margin-top:0; border-color: white")
    .container
      .row
        .col-xs-8
          %strong.title
            = link_to @website.name, @website.first_page
        .col-xs-4
          .pull-right
            - if controller_name == 'pages' || controller_name == 'welcome'
              - @page.simple_blocks.each do |block|
                - if block.menu_title.present?
                  %a{href: "##{block.id}_anchor"}= block.menu_title
                  %span(style="color: #eee")= '/'

            - @website.pages.each do |page|
              - if @website.first_page == page
                = ""
              - elsif @page == page
                = page.title
              - else
                = link_to page.title, page
            / - if action_name == 'show' or action_name == "hi"
            /   - if I18n.locale == :en
            /     - link = I18n.with_locale(:it){page_path(@page, locale: 'it')}
            /     = link_to 'Italian', link
            /   - elsif I18n.locale == :it
            /     - link = I18n.with_locale(:en){page_path(@page, locale: 'en')}
            /     = link_to 'English', link
              
    %hr(style="margin-bottom: 0")
    
    = yield