!!!
%html
  %head
    %title= "#{@website.name} - #{@title}"
    = stylesheet_link_tag    "themes/application-#{@website.template.name}", media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    = raw @website.head if @website.head.present?
    - if @website.css.present?
      %style= @website.css.html_safe
    - if @website.js.present?
      %script= @website.js.html_safe
    
  %body
    #header-container
      %hr(style="margin-top:0; border-color: white")
      .container#header
        .row
          .masthead-brand
            %strong#title-of-website= link_to @website.name, @website.first_page
          
            - if @website.button_open_menu
              .pull-right 
                .visible-xs#button-menu
                  %a(href="#open-menu" style="text-decoration: underline") Menu
            
          .nav-masthead
            - if @website.button_open_menu
              .hidden-xs#menu= render 'layouts/website_menu'
            - else
              = render 'layouts/website_menu'

      %hr(style="margin-bottom: 0")
      
    = yield