!!!
%html
  %head
    %title= "#{@website.name} - #{@title}"
    = stylesheet_link_tag    'application-shop', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
  %body
    %hr(style="margin-top:0")
    .container
      .row
        .col-xs-8
          %strong.title
            = t(:Shop)
    = yield